@model  ZakazkyViewModel 

@*   ViewBag.Login obsahuje login uzivatela
     ViewBag.Role obsahuje rolu uzivatela
*@

@{
    ViewData["Title"] = "Index";
    string userLogin = ViewBag.Login;
    string userRole  = ViewBag.Role.ToString();//musi to byt takto

}

<h1>ZakazkaMH2:Index</h1>

<p>
    <a asp-action="Create">Nová garančná oprava</a>

</p>
 <table class="table table-striped table-bordered table-hover" style="max-width: 400px;">
    <tr>
        <td>@Html.DisplayNameFor(model => model.CurrentUser.Login)</td>
        <td>@Html.LabelFor(model => model.CurrentUser.Login)</td>
       
        <td>@Html.Label(userLogin)</td>
        <td>@Html.Label(@Model.CurrentUser.Login)</td>
        <td>@Html.DisplayNameFor(model => model.CurrentUser.UserRole)</td>
        <td>@Html.Label(userRole)</td>
        <td>MyCounter:@ViewBag.MyCounter</td>
    </tr>
</table>

<table class="table table-striped table-bordered table-hover" style="max-width: 400px;">
     <tr>
            <td>
                @Html.DisplayFor(model => model.Zakazky[0].ZakazkaTg)
            </td>
            <td>
                @Html.DisplayFor(model => model.Zakazky[0].ZakazkaTg)
            </td>
     </tr>
     <tr>
            <td>
                @Html.DisplayFor(model => model.Zakazky[0].Vin)
            </td>
            <td>
                @Html.DisplayFor(model =>model.Zakazky[0].Vin)
            </td>
    </tr>
</table>
<p>@Html.ActionLink("Vymazat","Delete", new { id=10} )</p>
