@model PA.TOYOTA.DB.Account

@{
    ViewData["Title"] = "Účet detail";
}

<h4>Účet detail</h4>
<h6>LoginName: @Model.LoginName; Rola: @Model.LoginRola;</h6>
<hr />
<div>
      <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginRola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginRola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivny)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoginId">Zmeniť</a> |
    <a asp-action="Index">Návrat</a>
</div>
