@model ToyotaArchiv.Domain.ZakazkaZO
@attribute [RequestSizeLimitAttribute(15000000)]

@*  stranka moze odoslat na server maximalne asi 14MB;  15000000
    Az po kliku na submit sa zacnu prenasat subory na server!!

*@

@{
    ViewData["Title"] = "Create";
}
@*
    display je rozdeleny na 12 virtualnych stlpcov
    <div class="col-md-4">  sirka columnu pre  display md a vyssi bude 4 virtualne stlpce
    <div class="col-md-8"> nie velmi dobre, dve polozky vedla seba
    <div class="col-md-2">  vsetky polozky pod sebou
*@

@*ZakazkyJQ:Create*@

<div class="container">
     <div class="form-inline">
        <h4>Nová garančná oprava</h4>
        <span class="text-danger">@Model?.ErrorMessage</span>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                @* ZakazkaTG*@
                <div class="form-group" style="background-color:yellow" >
                  
                    @*<label asp-for="ZakazkaTg" class="control-label"></label>
                    <input asp-for="ZakazkaTg" class="form-control" />
                     <span asp-validation-for="ZakazkaTg" class="text-danger"></span>*@

                    @Html.DisplayNameFor(m => m.ZakazkaTg)
                    @Html.TextBoxFor(m => m.ZakazkaTg,  htmlAttributes: new { @class="form-control"})
                    @Html.ValidationMessageFor( m => m.ZakazkaTg, "", htmlAttributes:  new { @class="text-danger"})
                   
                  @*NEMAZAT!!
                      @Html.LabelFor(m=>m.ZakazkaTg, htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-4">
                    @Html.EditorFor(m=>m.ZakazkaTg, "",  new { @class = "form-control" })
                    @Html.ValidationMessageFor(m=>m.ZakazkaTg, "", htmlAttributes:  new { @class="text-danger"})
                    </div>*@
                </div>

                @*Subor pre zakazkaTG*@
              <div class="form-group">
                    <label asp-for="@Model.ZakazkaTGdokument.DokFormFile" class="control-label"></label>
                    <input asp-for="@Model.ZakazkaTGdokument.DokFormFile" class="form-control" lang="sk" /> @*vygeneruje sa <input  type="file"...   *@
                    <span asp-validation-for="@Model.ZakazkaTGdokument.DokFormFile" class="text-danger"></span>
                </div>


                @* ZakazkaTB
                <div class="form-group">
                    <label asp-for="@Model.ZakazkaTb" class="control-label"></label>
                    <input asp-for="@Model.ZakazkaTb" class="form-control" />
                    <span asp-validation-for="@Model.ZakazkaTb" class="text-danger"></span>
                </div>*@

                <div class="form-group">
                     @Html.DisplayNameFor(m=> m.ZakazkaTb)
                    @Html.TextBoxFor(m=>m.ZakazkaTb,  htmlAttributes: new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.ZakazkaTb, "", htmlAttributes:  new { @class="text-danger"})
                </div>


               <div class="form-group">
                 <label asp-for="@Model.ZakazkaTBdokument.DokFormFile" class="control-label"></label>
                    <input asp-for="@Model.ZakazkaTBdokument.DokFormFile" class="form-control" lang="sk" />
                    <span asp-validation-for="@Model.ZakazkaTBdokument.DokFormFile" class="text-danger"></span>
                </div>

                @* Vin*@
                <div class="form-group">
                    <label asp-for="@Model.Vin" class="control-label"></label>
                    <input asp-for="@Model.Vin" class="form-control" />
                    <span asp-validation-for="@Model.Vin" class="text-danger"></span>
                </div>

                @* CWS *@
                <div class="form-group">
                    <label asp-for="@Model.Cws" class="control-label"></label>
                    <input asp-for="@Model.Cws" class="form-control" />
                    <span asp-validation-for="@Model.Cws" class="text-danger"></span>
                </div>


                @* CisloProtokolu *@
                <div class="form-group">
                    <label asp-for="@Model.CisloProtokolu" class="control-label"></label>
                    <input asp-for="@Model.CisloProtokolu" class="form-control" />
                    <span asp-validation-for="@Model.CisloProtokolu" class="text-danger"></span>
                </div>
                @* Ukoncena sa nastavuje v kode *@

                @* Poznamka *@
                <div class="form-group">
                    <label asp-for="@Model.Poznamka" class="control-label"></label>
                    <input asp-for="@Model.Poznamka" class="form-control" />
                    <span asp-validation-for="@Model.Poznamka" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="Vytvoril" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Uložiť" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Návrat</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
