@model PA.TOYOTA.DB.Zakazka

@{
    ViewData["Title"] = "Delete";
}
@*MH: april 2022 ZakazkayJQ: Delete/zakazkaID *@


<h3>Naozaj vymazať záznam o garančnej oprave?</h3>
<div>
    <h4>Garančná oprava: @Model.ZakazkaTg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZakazkaTg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZakazkaTg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZakazkaTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZakazkaTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CisloProtokolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CisloProtokolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ukoncena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ukoncena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vytvoril)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vytvoril)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vytvorene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vytvorene)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zmenil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zmenil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zmenene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zmenene)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poznamka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poznamka)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ZakazkaTg" />
        <input type="submit" value="Vymazať" class="btn btn-danger" /> |
        <a asp-action="Index">Návrat</a>
    </form>
</div>
