@model ToyotaArchiv.Domain.ZakazkaZO
@using ToyotaArchiv.Infrastructure
@{
    ViewData["Title"] = "Detaily zákazky";
}

@*
    ZakazkyJQ:Details.cshtml222
    Tu sa pride z Index.cshtml po kliku na link ZakazkaTG,  ak  rola prihlaseneho  je READONLY;
   
*@

<style>
    table {
        border: 1px solid black;
    }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

    th {
        padding: 4px, 10px,4px,10px;
    }

    td {
        padding: 4px, 10px,4px,10px;
    }

    table tbody tr {
        border-bottom: 1px solid rgba(0,0,0,.3);
    }

/*.detailTable1, .detailTable1 TD, .detailTable1 TH */
table, table TD, table TH
{
font-family:sans-serif;
font-size:15pt;
color:black;
background-color:#BBDEFB;
}
</style>

<div class="container">
    <div class="d-flex p-2 justify-content-center">
        <h6>Prehľad údajov pre garančnú opravu: @Model.ZakazkaTg</h6>
        <h6><a asp-action="Index" style="margin-left:50px;"   >Návrat</a></h6>
    </div>
    <hr />

    <div style="width:90%; margin:0 auto;">
        @* Udaje o zakazke*@
        <table class="detailTable1"  width="100%" cellspacing="0">
            <tr>
                <td>@Html.DisplayNameFor(m=>m.ZakazkaTg)</td>
                <td>@Html.DisplayFor(m=>m.ZakazkaTg)</td>
                @{
                    if (@Model.ZakazkaTGdokument != null)
                    {
                        <td colspan="3">
                               @Html.ActionLink(@Model.ZakazkaTGdokument.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=@Model.ZakazkaTGdokument?.NazovSuboru?.Trim(), skupina=@Model.ZakazkaTGdokument?.Skupina} )
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m=>m.ZakazkaTb)</td>
                <td>@Html.DisplayFor(m=>m.ZakazkaTb)</td>
                @if (@Model?.ZakazkaTBdokument != null)
                {
                    <td colspan="3">
                        @if (!string.IsNullOrEmpty(@Model?.ZakazkaTGdokument?.NazovSuboru))
                        {
                            @Html.ActionLink(@Model.ZakazkaTBdokument.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=@Model.ZakazkaTBdokument?.NazovSuboru?.Trim(), skupina=@Model.ZakazkaTBdokument?.Skupina} )
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Ukoncena)</td>
                <td>@Html.DisplayFor(m=>m.Ukoncena)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Vin)</td>
                <td>@Html.DisplayFor(m=>m.Vin)</td>
                <td>@Html.DisplayNameFor(m=>m.Cws)</td>
                <td>@Html.DisplayFor(m=>m.Cws)</td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m=>m.CisloProtokolu)</td>
                <td>@Html.DisplayFor(m=>m.CisloProtokolu)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Poznamka)</td>
                <td colspan="4">@Html.DisplayFor(m=>m.Poznamka)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

      @*  <span>Povinné dokumenty</span>*@
         <span class="text-primary ml-1 h5">Povinné dokumenty</span>
        @*class="table table-striped table-bordered dt-responsive nowrap"*@
        @if (Model.PovinneDokumenty != null)
        {
            <table id="datatablePD" width="100%" cellspacing="0">
                <thead class="tableHeaderColor">
                    <tr>
                        <th width="20%">@*Dokument*@</th>
                        <th width="40%">@*Súbor*@</th>
                        <th>@*Poznámka*@</th>
                    </tr>
                </thead>
                <tbody>

                    @for( int i=0; i < Model.PovinneDokumenty.Count; i++)
                    {
                        <tr>
                            @* @Html.HiddenFor(x => Model.PovinneDokumenty[i].Skupina)*@
                            <td>
                                @Html.DisplayFor(x => Model.PovinneDokumenty[i].NazovDokumentu)
                            </td>
                            <td colspan="1">
                             @Html.ActionLink(@Model?.PovinneDokumenty[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                             new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.PovinneDokumenty[i].NazovSuboru?.Trim(), skupina=@Model?.PovinneDokumenty[i]?.Skupina} )
                           </td>
                            <td>
                                @Html.DisplayFor(x => Model.PovinneDokumenty[i].Poznamka)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        @*<span>Prílohy</span>*@
         <span class="text-primary ml-1 h5">Prílohy</span>
        @*table-bordered  rows maju border, table-striped susedne riadky maju roznu farbu, biela-siva  *@
        @if (Model.Prilohy != null)
        {
            <table id="datatablePrilohy"   width="100%" cellspacing="5">
                <thead class="tableHeaderColor">
                    <tr>
                        <th width="20%">@*Dokument*@</th>
                        <th width="40%">@*Súbor*@</th>
                        <th>@*Poznámka*@</th>
                    </tr>
                </thead>
                <tbody>

                     @for( int i=0; i < Model.Prilohy.Count; i++)
                    {
                        <tr>
                            @* @Html.HiddenFor(x => Model.PovinneDokumenty[i].Skupina)*@
                            <td>
                                @Html.DisplayFor(x => Model.Prilohy[i].NazovDokumentu)
                            </td>
                            <td colspan="1">
                             @Html.ActionLink(@Model?.Prilohy[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                             new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.Prilohy[i].NazovSuboru?.Trim(), skupina=@Model?.Prilohy[i]?.Skupina} )
                           </td>
                            <td>
                                @Html.DisplayFor(x => Model.Prilohy[i].Poznamka)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @*<div>
        <a asp-action="Index">Návrat</a>
    </div>*@
</div>


