@model ToyotaArchiv.Domain.ZakazkaZO
@{
    ViewData["Title"] = "Edit";
}

@*
    @Html.DropDownListFor(m => m.Ukoncena,
    new List<SelectListItem>
    { new SelectListItem{Text="Áno", Value="A"},
    new SelectListItem{Text="Nie", Value="N"}}, "Vyberte možnosť")

    class="col-md-4"  margin down 4 em

    ZakazkyJQ:Edit
    Tu sa pride po kliku na link ZakazkaTG,  ak  rola prihlaseneho  nie je ADMIN alebo VEDUCI;

    <td>@Html.DisplayFor(m => m.ZakazkaTGdokument.NazovSuboru)</td>
*@

<style>
    table {
        border: 1px solid black;
    }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

    th, td {
        padding: 10px;
    }

    table {
    }

        table tbody {
        }

            table tbody tr {
                border-bottom: 1px solid rgba(0,0,0,.3);
            }

    /*Alternate shadow rows */
    table {
    }

        table tbody {
        }

            table tbody tr:nth-child(2n + 2) {
                background-color: rgba(0,0,0,.05);
            }
</style>

<div class="container">
    <h6>Prehľad údajov pre garančnú opravu: @Model.ZakazkaTg</h6>

    @* <p>ZakazkyJQ: Edit;   Rola:@ViewBag.Role; Login: @ViewBag.Login</p>*@
    <hr />

    <div style="width:90%; margin:0 auto;">
        @* Udaje o zakazke*@
        <table cellspacing="0"> 
           @* ZakazkaTg a prilozeny subor*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.ZakazkaTg)</td>
                <td>@Html.DisplayFor(m=>m.ZakazkaTg)</td>
                @{
                    if (@Model.ZakazkaTGdokument != null)
                    {
                        <td colspan="3">
                            @if (!string.IsNullOrEmpty(@Model.ZakazkaTGdokument.NazovSuboru))
                            {
                                @Html.ActionLink(@Model.ZakazkaTGdokument.NazovSuboru, "ShowImage", "ZakazkyJQ",
                    new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=@Model.ZakazkaTGdokument?.NazovSuboru?.Trim(), skupina=@Model.ZakazkaTGdokument?.Skupina} )
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td></td>
                <td></td>
            </tr>
             @* ZakazkaTb a prilozeny subor*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.ZakazkaTb)</td>
                <td>@Html.DisplayFor(m=>m.ZakazkaTb)</td>
                @if (@Model.ZakazkaTBdokument != null)
                {
                    <td colspan="3">
                        @if (!string.IsNullOrEmpty(@Model.ZakazkaTBdokument.NazovSuboru))
                        {
                            @Html.ActionLink(@Model.ZakazkaTBdokument.NazovSuboru, "ShowImage", "ZakazkyJQ",
                         new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=@Model.ZakazkaTBdokument?.NazovSuboru?.Trim(), skupina=@Model.ZakazkaTBdokument?.Skupina} )
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td></td>
                <td></td>
            </tr>
           @* Ukoncena*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Ukoncena)</td>
                <td>@Html.DisplayFor(m=>m.Ukoncena)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
           @* VIN a CWS*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Vin)</td>
                <td>@Html.DisplayFor(m=>m.Vin)</td>
                <td>@Html.DisplayNameFor(m=>m.Cws)</td>
                <td>@Html.DisplayFor(m=>m.Cws)</td>
                <td></td>
            </tr>
            @*CisloProtokolu*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.CisloProtokolu)</td>
                <td>@Html.DisplayFor(m=>m.CisloProtokolu)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @*Poznamka*@
            <tr>
                <td>@Html.DisplayNameFor(m=>m.Poznamka)</td>
                <td colspan="4">@Html.DisplayFor(m=>m.Poznamka)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

        @*table-striped   susedne riadky maju roznu farbu *@

        <span>Povinné dokumenty</span>
        @if (Model.PovinneDokumenty != null)
        {
            <table id="datatableRoly" class="table  table-bordered dt-responsive nowrap" width="50%" cellspacing="0">
                <thead class="tableHeaderColor">
                    <tr>
                        <th width="15%">Dokument</th>
                        <th width="40%">Súbor</th>
                        <th>Poznámka</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.PovinneDokumenty)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazovDokumentu)
                            </td>
                            <td>
                               Tu bude nazov suboru
                            </td>
                           @* <td>
                                @Html.DisplayFor(modelItem => item.NazovSuboru)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.NazovSuboru))
                                {
                                    @Html.ActionLink(item.NazovSuboru, "ShowImage", "ZakazkyJQ",
                                 new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=item.NazovSuboru?.Trim(), skupina=item.Skupina} )
                                }
                            </td>
                            <td >
                                @if (!string.IsNullOrEmpty(@Model?.ZakazkaTBdokument?.NazovSuboru))
                                {
                                    @Html.ActionLink(@Model.ZakazkaTBdokument.NazovSuboru, "ShowImage", "ZakazkyJQ",
                                 new{ zakazkaTG=@Model.ZakazkaTg.Trim(), subor=@Model.ZakazkaTBdokument?.NazovSuboru?.Trim(), skupina=@Model.ZakazkaTBdokument?.Skupina} )
                                }
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Poznamka)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <span>Prílohy</span>

        @if (Model.Prilohy != null)
        {
            <table id="datatableRoly" class="table table-bordered dt-responsive nowrap" width="50%" cellspacing="0">
                <thead class="tableHeaderColor">
                    <tr>
                        <th width="15%">Dokument</th>
                        <th width="40%">Súbor</th>
                        <th>Poznámka</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Prilohy)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazovDokumentu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazovSuboru)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Poznamka)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div>
        <a asp-action="Index">Návrat</a>
    </div>
</div>


