@model ToyotaArchiv.Domain.ZakazkaZO
@attribute [RequestSizeLimitAttribute(15000000)]

@{
    ViewData["Title"] = "Zmena zákazky";@*zobrazi sa v titule stranky *@
}

@*ZakazkyJQ:UpdateZakazka*@

<style>
    table {
        border: 1px solid black;
    }
    table.center {
            margin-left: auto;
            margin-right: auto;
    }
    th {
        padding: 4px, 10px,4px,10px;
    }

    td {
        padding: 4px, 10px,4px,10px;
    }

    table tbody tr {
                border-bottom: 1px solid rgba(0,0,0,.3);
    }

</style>
   @*ZakazkyJQ:UpdateZakazka
     Otvori sa z Index.cshtml po kliku na link ZakazkaTG ak Role != USER_ROLE.READONLY

     UPDATE udajov pre uz existujucu zakazku
     lokalizacia <input type="file"..../>  pomocou jQuery funkcii
     https://docs.microsoft.com/en-us/answers/questions/567773/change-34choose-file34-and-34no-file-chosen34-text.html
   *@

<div class="container">
    <div class="form-inline">
        <h6>Úprava zákazky pre garančnú opravu: @Model.ZakazkaTg</h6>
        <h6>&nbsp;&nbsp; ZakazkyJQ: UpdateZakazka;   Rola:@ViewBag.Role; Login: @ViewBag.Login&nbsp;&nbsp;</h6>
        <span class="text-danger">@Model?.ErrorMessage</span>
    </div>
    <div class="form-group">
      <a asp-action="Index">Návrat</a>
      <input type="button" style="margin-left:30px"    value="Uložiť zmeny" class="btn btn-primary btn-sm" onclick="document.forms['formUpdate'].submit();"   />
    </div>
   
   @* <hr />*@

    <div class="row">
        <div class="col-md-12">
            <form name="formUpdate"  asp-action="UpdateZakazka" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="width:90%; margin:0 auto;">
                    @* Udaje o zakazke*@
                    <table width="100%" cellspacing="0">
                        @*ZakazkaTGdokument*@
                        <tr>
                            <td width="150px">@Html.DisplayNameFor(m=>m.ZakazkaTg)</td>
                            <td width="250px">@Html.TextBoxFor(m=>m.ZakazkaTg, new {@class="form-control", @readonly="readonly"} )</td>
                            <td width="400px">
                               @*Vyber suboru pre zakazkaTG*@
                               <input asp-for="@Model.ZakazkaTGdokument.DokFormFile" class="form-control" lang="sk"  /> @*vygeneruje sa <input  type="file"...   *@
                            </td>
                            
                            <td width="300px" colspan="2">@* Subor link*@
                                 @Html.ActionLink(@Model?.ZakazkaTGdokument?.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.ZakazkaTGdokument?.NazovSuboru?.Trim(), skupina=@Model?.ZakazkaTGdokument?.Skupina} )
                            </td>
                            <td>@* Vymazat link*@
                               @if(!string.IsNullOrEmpty(@Model?.ZakazkaTGdokument?.NazovSuboru) )
                               {
                                 @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.ZakazkaTGdokument?.Skupina} )
                               }
                            </td>
                            
                        </tr>
                        @*ZakazkaTBdokument*@
                        <tr>
                            <td>@Html.DisplayNameFor(m=>m.ZakazkaTb)</td>
                            <td>@Html.TextBoxFor(m=>m.ZakazkaTb, new {@class="form-control"})</td>
                            <td>
                               @*Vyber suboru pre zakazkaTG*@
                               <input asp-for="@Model.ZakazkaTBdokument.DokFormFile" class="form-control" lang="sk" /> @*vygeneruje sa <input  type="file"...   *@
                            </td>
                            <td colspan="2"> @* Subor link*@
                                 @Html.ActionLink(@Model?.ZakazkaTBdokument?.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.ZakazkaTBdokument?.NazovSuboru?.Trim(), skupina=@Model?.ZakazkaTBdokument?.Skupina} )
                            </td>
                           
                             <td>@* Vymazat link*@
                               @if(!string.IsNullOrEmpty(@Model?.ZakazkaTBdokument?.NazovSuboru) )
                               {
                                 @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.ZakazkaTBdokument?.Skupina} )
                               }
                            </td>
                            
                        </tr>
                      @*  <tr>
                            <td>@Html.DisplayNameFor(m=>m.Ukoncena)</td>
                            <td>@Html.TextBoxFor(m=>m.Ukoncena, new {@class="form-control", @readonly="readonly"})</td>
                            <td></td>
                            <td></td>
                            <td></td>
                           <td></td>
                        </tr>*@
                        <tr>
                            <td>@Html.DisplayNameFor(m=>m.Vin)</td>
                            <td>@Html.TextBoxFor(m=>m.Vin, new {@class="form-control"})</td>

                            <td>@Html.DisplayNameFor(m=>m.Cws)</td>
                            <td>@Html.TextBoxFor(m=>m.Cws, new {@class="form-control"})</td>

                             <td>@Html.DisplayNameFor(m=>m.Ukoncena)</td>
                            <td>@Html.TextBoxFor(m=>m.Ukoncena, new {@class="form-control", @readonly="readonly"})</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m=>m.CisloProtokolu)</td>
                            <td>@Html.TextBoxFor(m=>m.CisloProtokolu, new {@class="form-control"})</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m=>m.Poznamka)</td>
                            <td colspan="5">@Html.TextBoxFor(m=>m.Poznamka, new {@class="form-control"})</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>

                    <span>Povinné dokumenty</span>
                    @*class="table table-striped table-bordered dt-responsive nowrap"*@
                    @if (Model?.PovinneDokumenty != null)
                    {
                        <table id="datatablePD" width="100%" cellspacing="0">
                            <thead class="tableHeaderColor">
                                <tr>
                                    <th width="240px">@*Dokument*@</th>
                                    <th width="600px">@*Súbor*@</th>
                                     <th width="400px">@*Link*@</th>
                                    <th></th>
                                    <th width="400px">@*Poznámka*@</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i=0; i< Model.PovinneDokumenty.Count; i++)
                                {
                                    <tr>
                                          @Html.HiddenFor(x => Model.PovinneDokumenty[i].Skupina)
                                          @Html.HiddenFor(x => Model.PovinneDokumenty[i].NazovSuboru)
                                          @*@Html.HiddenFor(x => Model.PovinneDokumenty[i].Poznamka)*@
                                        <td>
                                             @Html.TextBoxFor(x => Model.PovinneDokumenty[i].NazovDokumentu, new { @class="form-control", @readonly="readonly"})
                                        </td>
                                       <td>
                                            <input asp-for="@Model.PovinneDokumenty[i].DokFormFile" class="form-control" lang="sk" />
                                        </td>
                                        <td>@* Subor link*@
                                          @Html.ActionLink(@Model?.PovinneDokumenty[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                             new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.PovinneDokumenty[i].NazovSuboru?.Trim(), skupina=@Model?.PovinneDokumenty[i]?.Skupina} )
                                        </td>
                                        
                                        <td>@* Vymazat link*@
                                            @if(!string.IsNullOrEmpty(@Model?.PovinneDokumenty[i].NazovSuboru) )
                                            { 
                                                @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                                new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.PovinneDokumenty[i]?.Skupina} )
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.PovinneDokumenty[i].Poznamka, new {@class="form-control"})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    <span>Prílohy</span>
                   
                    @if (Model?.Prilohy != null)
                    {
                        <table id="datatablePrilohy"  width="100%" cellspacing="0">
                            <thead class="tableHeaderColor">
                                <tr>
                                    <th width="240px">@*Dokument*@</th>
                                    <th width="600px">@*Súbor*@</th>
                                    <th width="400px">@*Link*@</th>
                                     <th></th>
                                    <th width="400px">@*Poznámka*@</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i=0; i< Model.Prilohy.Count; i++)
                                {
                                    <tr>
                                          @Html.HiddenFor(x => Model.Prilohy[i].Skupina)
                                            @Html.HiddenFor(x => Model.Prilohy[i].NazovSuboru)
                                            @* @Html.HiddenFor(x => Model.Prilohy[i].Poznamka)*@
                                        <td>
                                             @Html.TextBoxFor(x => Model.Prilohy[i].NazovDokumentu, new { @class="form-control", @readonly="readonly"})
                                           @* @Model.Prilohy[i].NazovDokumentu*@
                                        </td>
                                        <td>
                                            <input asp-for="@Model.Prilohy[i].DokFormFile" class="form-control" lang="sk" />
                                        </td>
                                       <td>@* Subor link*@
                                          @Html.ActionLink(@Model?.Prilohy[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                             new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.Prilohy[i].NazovSuboru?.Trim(), skupina=@Model?.Prilohy[i]?.Skupina} )
                                        </td>
                                        <td>@* Vymazat link*@
                                            @if(!string.IsNullOrEmpty(@Model?.Prilohy[i].NazovSuboru) )
                                            {
                                             @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                                new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.Prilohy[i]?.Skupina} )
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Prilohy[i].Poznamka, new { @class="form-control"})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @*<div class="form-group">
                        <input type="submit" value="Uložiť zmeny" class="btn btn-primary" />
                    </div>*@
                </div>
            </form>

        </div>
    </div>
</div>

@*<div>
    <a asp-action="Index">Návrat</a>
</div>*@

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

