@model ToyotaArchiv.Domain.ZakazkaZO
@attribute [RequestSizeLimitAttribute(15000000)]

@{
    ViewData["Title"] = "Zmena zákazky";@*zobrazi sa v titule stranky *@
}

@*ZakazkyJQ:UpdateZakazka*@

<style>
    /*table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }*/


        table, table TD, table TH {
            font-family: sans-serif;
            font-size: 13pt;
            color: black;
            /* background-color: #BBDEFB;*/
            background-color: white;
        }
</style>

<script type="text/javascript">

     /*
         Nastavi priznak, ze bol klik na Pridanie prilohy a urobi Submit() formulara;
         skupina je cislo skupiny pre kliknutu polozku
    */
    function pridajPrilohu(skupina)
    {
        var p = document.getElementById("vybrataSkupina");
        p.value=skupina;
        document.forms['formUpdate'].submit();
        return true;
    }
</script>


@*ZakazkyJQ:UpdateZakazka
    Otvori sa z Index.cshtml po kliku na link ZakazkaTG ak Role != USER_ROLE.READONLY

    '<a  href="/ZakazkyJQ/Details/?zakazkaTg=' + $.trim(row['zakazkaTg']) + '">' + data + '</a>';

    UPDATE udajov pre uz existujucu zakazku
    <input type="file"..../> ma uz zabudovanu funkcionalitu Drag and Drop :):):)
    lokalizacia <input type="file"..../>  pomocou jQuery funkcii
    https://docs.microsoft.com/en-us/answers/questions/567773/change-34choose-file34-and-34no-file-chosen34-text.html
*@

<div class="container-fluid" style="width:95%">
    <div class="form-inline">
        <h3 class="text-left d-inline mr-4">Úprava zákazky pre garančnú opravu: @Model.ZakazkaTg</h3>
        <span class="text-danger">@Model?.ErrorMessage</span>
    </div>
    <div class="d-flex p-2 justify-content-center">
        @* <a asp-action="Index" class="btn btn-primary">Návrat</a>
            <input type="button" style="margin-left:30px" value="Uložiť zmeny" class="btn btn-warning" onclick="document.forms['formUpdate'].submit();" />*@
        <a asp-action="Index" class="btn btn-light">Návrat</a>
        <input type="button" style="margin-left:30px" value="Uložiť zmeny" class="btn btn-light" onclick="document.forms['formUpdate'].submit();" />
    </div>

    @* <hr />
        style="border-collapse: collapse; border: none;"

    *@

    <div class="row" style="zoom: 80%">
        <div class="col-md-12">
            <form name="formUpdate" asp-action="UpdateZakazka" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="vybrataSkupina" id="vybrataSkupina" value="0" />
                <div style="width:90%; margin:0 auto;">
                    @* Udaje o zakazke*@
                    <table width="100%" cellspacing="5" cellpadding="10">
                        @Html.HiddenFor(x => Model.ZakazkaTGdokument.Skupina)
                        @Html.HiddenFor(x => Model.ZakazkaTGdokument.NazovSuboru)
                        @Html.HiddenFor(x => Model.ZakazkaTGdokument.NazovDokumentu)

                        @*ZakazkaTGdokument*@
                        <tr>
                            @*NAZOV POLOZKY*@
                            <td width="150px" align="right">
                                @Html.DisplayNameFor(m=>m.ZakazkaTg)
                            </td>
                            @*HODNOTA POLOZKY*@
                            <td width="220px">
                                @Html.TextBoxFor(m=>m.ZakazkaTg, new {@class="form-control", @readonly="readonly"} )
                            </td>
                            <span asp-validation-for="ZakazkaTg" class="text-danger"></span>

                            @*Vyber suboru pre zakazkaTG*@
                            <td width="450px">
                                <input asp-for="@Model.ZakazkaTGdokument.DokFormFile" class="form-control" lang="sk" /> @*vygeneruje sa <input  type="file"...   *@
                            </td>

                            @* Subor link*@
                            <td width="450px" colspan="2">
                                @Html.ActionLink(@Model?.ZakazkaTGdokument?.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.ZakazkaTGdokument?.NazovSuboru?.Trim(), skupina=@Model?.ZakazkaTGdokument?.Skupina} )
                            </td>

                            @* Vymazat - button s ikonou *@
                            <td align="right" width="60px">
                                @if (!string.IsNullOrEmpty(@Model?.ZakazkaTGdokument?.NazovSuboru))
                                {
                                    @* @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                        new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.ZakazkaTGdokument?.Skupina} )*@

                                    <a href="/ZakazkyJQ/DeleteDokument/?zakazkaTG=@Model?.ZakazkaTg?.Trim()&skupina=@Model?.ZakazkaTGdokument?.Skupina"
                                   class="btn-floating btn-sm btn-danger"><i class="fas fa-trash-alt fa-sm"></i></a>
                                }
                            </td>
                        </tr>
                        @*ZakazkaTBdokument*@
                        <tr>
                            @Html.HiddenFor(x => Model.ZakazkaTBdokument.Skupina)
                            @Html.HiddenFor(x => Model.ZakazkaTBdokument.NazovSuboru)
                            @Html.HiddenFor(x => Model.ZakazkaTBdokument.NazovDokumentu)
                            <td align="right">@Html.DisplayNameFor(m=>m.ZakazkaTb)</td>
                            <td>
                                @Html.TextBoxFor(m=>m.ZakazkaTb, new {@class="form-control"})
                            </td>
                            <span asp-validation-for="ZakazkaTb" class="text-danger"></span>
                            @*Vyber suboru pre zakazkaTG*@
                            <td>
                                <input asp-for="@Model.ZakazkaTBdokument.DokFormFile" class="form-control" lang="sk" /> @*vygeneruje sa <input  type="file"...   *@
                            </td>
                            @* Subor link*@
                            <td colspan="2">
                                @Html.ActionLink(@Model?.ZakazkaTBdokument?.NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                new{ zakazkaTG=@Model?.ZakazkaTg?.Trim() ?? "", subor=@Model?.ZakazkaTBdokument?.NazovSuboru?.Trim() ?? "", skupina=@Model?.ZakazkaTBdokument?.Skupina ?? 0} )
                            </td>
                            @* Vymazat-button s ikonou*@
                            <td align="right">
                                @if (!string.IsNullOrEmpty(@Model?.ZakazkaTBdokument?.NazovSuboru))
                                {
                                    <a href="/ZakazkyJQ/DeleteDokument/?zakazkaTG=@Model?.ZakazkaTg?.Trim()&skupina=@Model?.ZakazkaTBdokument?.Skupina"
                                   class="btn-floating btn-sm btn-danger"><i class="fas fa-trash-alt fa-sm"></i></a>
                                }
                            </td>

                        </tr>

                        <tr>
                            @*VIN*@
                            <td align="right">@Html.DisplayNameFor(m=>m.Vin)</td>
                            <td>
                                @Html.TextBoxFor(m=>m.Vin, new {@class="form-control"})
                            </td>
                            <span asp-validation-for="Vin" class="text-danger"></span>

                            @*CWS*@
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td align="left" width="70px">@Html.DisplayNameFor(m=>m.Cws)</td>
                                        <td>@Html.TextBoxFor(m=>m.Cws, new {@class="form-control", @style="margin-left:10px;"})</td>
                                    </tr>
                                </table>
                            </td>
                            <span asp-validation-for="Cws" class="text-danger"></span>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            @*SPZ*@
                            <td align="right">@Html.DisplayNameFor(m=>m.SPZ)</td>
                            <td>@Html.TextBoxFor(m=>m.SPZ, new {@class="form-control"})</td>
                            <span asp-validation-for="SPZ" class="text-danger"></span>


                            @*Majitel*@
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td align="left" width="70px">@Html.DisplayNameFor(m=>m.Majitel)</td>
                                        <td>@Html.TextBoxFor(m=>m.Majitel, new {@class="form-control", @style="margin-left:10px;"})</td>
                                    </tr>
                                </table>
                            </td>
                            <span asp-validation-for="Majitel" class="text-danger"></span>
                            <td></td>
                            <td></td>
                        </tr>



                        <tr>
                            @*CisloProtokolu*@
                            <td align="right">@Html.DisplayNameFor(m=>m.CisloProtokolu)</td>
                            <td>
                                @Html.TextBoxFor(m=>m.CisloProtokolu, new {@class="form-control"})
                            </td>
                            <span asp-validation-for="CisloProtokolu" class="text-danger"></span>

                            <td colspan="2">
                                @*CisloDielu*@
                                <table>
                                    <tr>
                                        <td align="left">@Html.DisplayNameFor(m=>m.CisloDielu)</td>
                                        <td>@Html.TextBoxFor(m=>m.CisloDielu, new {@class="form-control", @style="margin-left:10px;"})</td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td align="right">@Html.DisplayNameFor(m=>m.Ukoncena)</td>
                            <td align="left">@Html.TextBoxFor(m=>m.Ukoncena, new {@class="form-control", @readonly="readonly", @style="margin-left:3px; width:70px;"})</td>

                            <td colspan="4">
                                @*Poznamka*@
                                <table width="100%">
                                    <tr>
                                        <td align="left" width="8%">
                                            @Html.DisplayNameFor(m=>m.Poznamka)
                                        </td>
                                        <td >
                                            @Html.TextBoxFor(m=>m.Poznamka, new {@class="form-control"})
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <span asp-validation-for="Poznamka" class="text-danger"></span>
                        </tr>
                    </table>

                    <hr />
                    @* <span>Povinné dokumenty</span>*@

                    @*
                        @*<thead class="tableHeaderColor">
                        <tr>
                        <th width="260px">Dokument</th>
                        <th width="400px">Poznámka</th>
                        <th width="500px">Súbor: DokFormFile</th>
                        <th width="500px">Link</th>
                        <th></th>

                        </tr>
                        </thead>

                    *@

                    @if (Model?.PovinneDokumenty != null)
                    {
                        <table style="border-collapse: collapse; border: none;" id="datatablePD" width="100%" cellspacing="5" cellpadding="10">

                            <tbody>
                                @for (int i = 0; i < Model.PovinneDokumenty.Count; i++)
                                {
                                    <tr>
                                        @*Hidden su len polozky ktore sa needituju, ale ich treba!!!*@
                                        @Html.HiddenFor(x => Model.PovinneDokumenty[i].Skupina)
                                        @Html.HiddenFor(x => Model.PovinneDokumenty[i].NazovSuboru)
                                        @* NazovDokumentu readonly*@
                                        <td width="300px">
                                            @Html.TextBoxFor(x => Model.PovinneDokumenty[i].NazovDokumentu, new { @class="form-control", @readonly="readonly", Style="background:transparent;border-collapse: collapse; border: none;"})
                                        </td>

                                        @* Poznamka*@
                                        <td width="400px">
                                            @Html.TextBoxFor(x => Model.PovinneDokumenty[i].Poznamka, new {@class="form-control"})
                                        </td>
                                        <span asp-validation-for="@Model.PovinneDokumenty[i].Poznamka" class="text-danger"></span>

                                        @* Vyber suboru*@
                                        <td width="500px">
                                            <input asp-for="@Model.PovinneDokumenty[i].DokFormFile" class="form-control" lang="sk" />
                                        </td>

                                        @* Subor link*@
                                        <td width="500px">
                                            @Html.ActionLink(@Model?.PovinneDokumenty[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), subor=@Model?.PovinneDokumenty[i].NazovSuboru?.Trim(), skupina=@Model?.PovinneDokumenty[i]?.Skupina} )
                                        </td>

                                        @* Vymazat-button s ikonou*@
                                        <td align="right">
                                            @if (!string.IsNullOrEmpty(@Model?.PovinneDokumenty[i].NazovSuboru))
                                            {
                                                @* @Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim(), skupina=@Model?.PovinneDokumenty[i]?.Skupina} )*@
                                                <a href="/ZakazkyJQ/DeleteDokument/?zakazkaTG=@Model?.ZakazkaTg?.Trim()&skupina=@Model?.PovinneDokumenty[i]?.Skupina"
                                       class="btn-floating btn-sm btn-danger"><i class="fas fa-trash-alt fa-sm"></i></a>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    <hr />
                    <div class="d-flex py-1 justify-content-center">
                        <span>Prílohy<input type="button" onclick="pridajPrilohu('222');" class="btn btn-sm btn-light ml-4" value="Pridaj prílohu" /></span>
                    </div>
                    @if (Model?.Prilohy != null)
                    {
                        <table style="border-collapse: collapse; border: none;" id="datatablePrilohy" width="100%" cellspacing="5" cellpadding="10">

                            <tbody>

                                @for (int i = 0; i < Model.Prilohy.Count; i++)
                                {
                                    <tr>
                                        @*len tie polozky su Hidden co sa needituju cez TextBoxFor*@
                                        @Html.HiddenFor(x => Model.Prilohy[i].Skupina)
                                        @Html.HiddenFor(x => Model.Prilohy[i].NazovSuboru)
                                        @*NazovDokumentu*@
                                        <td width="300px">
                                            @Html.TextBoxFor(x => Model.Prilohy[i].NazovDokumentu, new { @class="form-control"})
                                        </td>
                                        <span asp-validation-for="@Model.Prilohy[i].NazovDokumentu" class="text-danger"></span>

                                        @*Poznamka*@
                                        <td width="400px">
                                            @Html.TextBoxFor(x => Model.Prilohy[i].Poznamka, new { @class="form-control"})
                                        </td>
                                        <span asp-validation-for="@Model.Prilohy[i].Poznamka" class="text-danger"></span>

                                        @*HTML element pre vyber suboru*@
                                        <td width="500px">
                                            <input asp-for="@Model.Prilohy[i].DokFormFile" class="form-control" lang="sk" />
                                        </td>

                                        @* Subor link*@
                                        <td width="500px">
                                            @Html.ActionLink(@Model?.Prilohy[i].NazovSuboru ?? "", "ShowImage", "ZakazkyJQ",
                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim() ?? "", subor=@Model?.Prilohy[i].NazovSuboru?.Trim() ?? "", skupina=@Model?.Prilohy[i]?.Skupina ?? 0} )
                                        </td>

                                        @* Vymazat-button s ikonou*@
                                        <td align="right">
                                            @if (!string.IsNullOrEmpty(@Model?.Prilohy[i].NazovSuboru))
                                            {
                                                @*@Html.ActionLink("Vymazať", "DeleteDokument", "ZakazkyJQ",
                                                    new{ zakazkaTG=@Model?.ZakazkaTg?.Trim() ?? "", skupina=@Model?.Prilohy[i]?.Skupina ?? 0} )*@
                                                <a href="/ZakazkyJQ/DeleteDokument/?zakazkaTG=@Model?.ZakazkaTg?.Trim()&skupina=@Model?.Prilohy[i]?.Skupina"
                                       class="btn-floating btn-sm btn-danger"><i class="fas fa-trash-alt fa-sm"></i></a>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

